<form class="example-container" [formGroup]="form" #frmUsuario="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">            
        <input matInput placeholder="Nombre" minlength="3" required formControlName="username">
    </mat-form-field>

    <mat-form-field class="example-full-width" *ngIf="!edicion">            
        <input matInput placeholder="Password" minlength="8" maxlength="16" required formControlName="password">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Elegir Rol</mat-label>
        <mat-select multiple placeholder="Roles" [(value)]="selectedObjectsFromArray" [compareWith]="compareFnRol" required>
            <mat-option *ngFor="let p of roles" [value]="p">
            {{ p.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>      

    <button mat-raised-button color="primary" type="submit" [disabled]="frmUsuario.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/pages/usuario' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>